target/
*.class
*.project
*.settings
bin/
.*classpath

# IntelliJ
*.iml
/.idea

# Eclipse projects
.classpath
.project
org.eclipse.core.resources.prefs
org.eclipse.jdt.core.prefs
org.eclipse.m2e.core.prefs
org.eclipse.jdt.groovy.core.prefs
